streamlit
st-gsheets-connection
gspread
streamlit
google-auth
pandas
fpdf
pandas
PyPDF2
pdfplumber
plotly
numpy
reportlab
geocoder
plotly
requests
streamlit-js-eval
qrcode
opencv-python-headless==4.5.1.48
